body{
    margin: 0%;
    background-color: rgb(47, 158, 255);
}

.top-bar {
    background-color: rgba(95, 158, 160, 0.98);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 3;
}

#logo1{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

#maincomname{
    margin-block-end: 0%;
    font-size: medium;
}

#maincomname2{
    font-size: small;
}

.top-bar-contents {
    display: flex;
    align-items: center;
}

.top-box{
    position: relative;
    top: 30px;
    background-color: rgba(215, 228, 58, 0.8);
    border: 2px;
    height: 200px;
    width: 100%;
}

.title{
    position: relative;
    left: 20px;
    top: 50px;
    font-size: 40px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px white;
}

.tagline{
    position: relative;
    left: 10px;
    top: 50px;
    font-size: 20px;
}

.newspaperguy{
    position: relative;
    bottom: 120px;
    left: 1000px;
    height: 180px;
    width: 170px;
}

/* newsbody */
.main-newsfeed{
    position: relative;
    top: 30px;
    bottom: 0;
    height: 400px;
    width: 900px;
    background-color: rgba(143, 226, 157, 0.8);
}

.main-newsfeed-arthor{
    position: absolute;
    top: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(81, 84, 81);
}

.main-newsfeed-title{
    position: absolute;
    top: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 7px;
    font-weight: 700;
}

.main-newsfeed-text{
    height: 400px;
    width: 600px;
    position: absolute;
    top: 70px;
    left: 5px;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-newsfeed-picture {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 380px;
    width: 280px;
    clear: left;
}

.minimal-news{
    position: absolute;
    top: 270px;
    /* left: 1000px; */
    right: 0px;  
    background-color: rgba(43, 190, 70, 0.874);
    width: 365px;
    height: 400px;
    align-items: center;
}

#a1{
   height: 120px;
   width: 510px;
}

#a2{
    height: 120px;
    width: 510px;
}

#a3{
    height: 120px;
    width: 510px;
}

.minimal-newsfeed-title{
    position: absolute;
    left: 20px;
    font-weight: 600;
    font-size: larger;
    width: 200px;
}

.minimal-newsfeed-text{
    position: relative;
    top: 50px;
    left: 15px;
    width: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.minimal-newsfeed-picture{
    position: relative;
    top: -29px;
    left: 230px;
    height: 100px;
    width: 120px;
}

/* newsguy */

.newspaperguy1{
    z-index: 2;
    height: 200px;
    width: 150px;
    position: relative;
    left: 160px;
    top: 30px;
}

.footer{
    position: relative;
    height: 15vh;
    background-color: aquamarine;
}

.copyright{
    position: absolute;
    top: 30px;
    left: 150px;
    font-size: 30px;
    font-weight: 600;
}

.contact-us{
    position: absolute;
    top: 30px;
    right: 400px;
    font-size: 25px;
}

.fb{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 300px;
}

.ig{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 220px;
}

.tele{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 140px;
}

.twit{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 60px;
}